@charset "utf-8";
@import url('reset.css');

@font-face {
    font-family: 'IbmPlexSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}/* regularh */

@font-face {
    font-family: 'IbmPlexSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}/* medium */

@font-face {
    font-family: 'IbmPlexSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}/* semi-bold */

@font-face {
    font-family: 'IbmPlexSans';
    src: url('.../IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}


#wrap {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 18px;
    background-color: #fff;
}

body {
    font-family: 'IbmPlexSans';
    font-weight: normal;
}

/* 제목 */
h2,
h3 {
    font-weight: 700;
}

/* 상품명 / 설명 */
strong.name {
    font-weight: 600;
}

/* 일반 버튼 & 주요 링크 */
a,
button {
    font-weight: 500;
}

/* 부가 설명 / 서브 텍스트 */
p,
span {
    font-weight: normal;
}

/* 회사 정보(푸터) */
.footer_company {
    font-weight: normal;
}

/* 푸터 링크 */
.footer_top a,
.footer_bottom a {
    font-weight: 500;/* medium */
}

.footer_bottom p {
    font-weight: normal;/* regular */
}

.header {}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header .logo {
    width: 133px;
    height: 33px;
}

.header .icons {
    display: flex;
}

.header .icons img {
    width: 24px;
    height: 24px;
    gap: 6px;
}


.visual {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.visual img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.visual .visual_text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left;
}

.visual .visual_text h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

.visual .visual_text p {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

.visual .visual_text a {
    display: inline-block;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 9px 25px;
}


.best_item {
    padding: 77px 0;
    margin-top: 75px;
}

.best_item .inner {
    margin: 0 auto;
}

.best_item .inner h3 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
}

.best_item .item_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;

}

.best_item .item_list .item {
    width: calc(50% - 10px);
    text-align: center;
}

.best_item .item_list .item a .image {
    width: 100%;
}

.best_item .item_list .item a .image img {
    width: 100%;
    height: 100%;
}


.best_item .item_list .item a .name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 18px;
    display: block;
    text-align: center;
}



.collabo {
    position: relative;
    width: 100%;
    margin: 0 auto;
    /* 이미지 가운데 정렬 */
    margin-top: 100px;
}

.collabo img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.collabo_title {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.collabo .collabo_text {
    text-align: left;
    margin-top: 16px;
}

.collabo .collabo_text p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.collabo .collabo_text span {
    color: dimgrey;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
}

.collabo a {
    display: inline-block;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 9px 25px;
}

.author_wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.author_wrap img {
    width: 100%;
    object-fit: cover;
    display: block;
}


.author_wrap .author_text {
    text-align: left;
    margin-top: 16px;
}

.author_wrap .author_text p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.author_wrap .author_text span {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    color: dimgrey;
}

.author_wrap .author_text a {
    display: inline-block;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 9px 25px;
}

.instagram-section {
    margin: 0 auto;
}

.insta-header {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    margin-bottom: 20px;
    align-items: center;
    gap: 8px;
}

.insta-header .logo {
    width: 24x;
    height: 24px;
}

.insta-header h3 {
    font-size: 20px;
    font-weight: bold;
}

.insta-grid {
    display: flex;
    flex-wrap: wrap;
}

.insta-grid .insta-item {
    width: 33.3333%;
}

.insta-grid .insta-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.youtube_section {
    margin: 0 auto;
}

.youtube-header {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    margin-bottom: 20px;
    align-items: center;
    gap: 8px;
}

.youtube-header .logo {
    width: 24px;
    height: 24px;
    font-weight: 700;
}

.youtube-header h3 {
    font-size: 20px;
    font-weight: bold;
}

.you_grid {
    display: flex;
    flex-wrap: wrap;
}

.you_grid .youtube-item {
    width: 50%;
}

.you_grid .youtube-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.footer {
    background-color: #EDEDED;
    padding: 40px 18px;
    position: relative;
    margin-top: 100px;
}

.footer_inner {
    max-width: 1024px;
    margin: 0 auto;
}

.footer_company {
    color: #999999;
}

.footer_company a {
    display: block;
    font-weight: bold;
    color: black;
    margin-bottom: 14px;
    margin-top: 70px;
}

.footer_company p {
    margin: 4px 0;
}


/* 상단 링크 */
.footer_top {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
}


/* 회사 약관 */
.footer_bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto 0;
    text-align: center;
    flex-wrap: wrap;
    color: #999999;

}

.footer_bottom a {
    border: 1px solid #707070;
    padding: 6px 50px;
    align-items: center;
}

.footer_bottom p {
    width: 100%;
    font-size: 14px;
    margin-top: 14px;
}





/* 하단 고정바 */
.bottom_nav {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    max-width: 480;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 100;
    border-radius: 10px 10px 0 0;
}

.bottom_nav .nav_item {
    display: flex;
    flex-direction: column; /* 아이콘 위, 텍스트 아래 */
    align-items: center;
}

.nav_item img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}